<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="5" parallel="tests">
  
  <test thread-count="5" name="ChromeTest">
  	<parameter name="browserName" value="firefox"></parameter>
    <classes>
      <class name="com.skillrary.girlsshopping.testscripts.AddToKartTC001"/>
      <!-- <class name="testscripts.DeleteFromKartTC002"/> -->
    </classes>
  </test> <!-- Test -->
  
  <!-- <test thread-count="5" name="FirefoxTest">
  	<parameter name="browserName" value="firefox"></parameter>
    <classes>
      <class name="testscripts.AddToKartTC001"/>
      <class name="testscripts.DeleteFromKartTC002"/>
    </classes>
  </test> Test -->
  
</suite> <!-- Suite -->
